html {
  background-image: url(wp4751131.webp);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.wrap {
  max-width: 90%;
  margin: 0 auto;
}

.book-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 7px 5px;
}

tr:nth-child(even) {
  background-color: lightgray;
}

table {
  border: 1px solid black;
  border-radius: 7px;
  width: 33vw;
}

.btn {
  background-color: #f79054;
  color: white;
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;
}

h1 {
  color: #f1c296;
  margin-bottom: 20px;
  font-family: 'Courier New', Courier, monospace;
}

hr {
  border: 1px solid #111302;
  width: 125px;
  margin-top: 25px;
  margin-bottom: 25px;
}

h2 {
  color: #63d48e;
  margin-bottom: 20px;
}

input {
  width: 100%;
  height: 30px;
  padding-left: 5px;
  border-radius: 5px;
  background-color: #f1e1d1;
}

.btn-add {
  margin-left: 155px;
  padding: 5px 35px;
  font-weight: bold;
}

.FORM-4 {
  width: 250px;
  align-self: center;
}

header {
  width: 100%;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 36px;
  border: 2px solid rgb(151, 209, 16);
  align-items: center;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  opacity: 0.8;
}

.opt {
  display: flex;
}

.navigation {
  margin-right: 10px;
}

.link span {
  margin-left: 5px;
}

.link {
  color: #680ecf;
  font-weight: bold;
  font-family: "Sofia", sans-serif;
}

.logo {
  margin-left: 10px;
  color: #f1b55a;
  font-size: 3.2vw;
  font-weight: bold;
  font-family: "Lobster", sans-serif;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 2% 30%;
  height: 36px;
  border: 2px solid rgba(228, 179, 18, 0.897);
  align-items: center;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  background-color: rgb(255, 255, 255);
  opacity: 0.8;
}

.FORM-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer p {
  margin-left: 10px;
  color: #4ba815;
  font-weight: bold;
}

.list-books {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  opacity: 0.8;
  border-radius: 17px;
}

.FORM-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #1230dd;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.contact p {
  align-self: flex-start;
}

.contact-last-paragraph {
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

.active {
  color: rgb(178, 197, 10);
}

.dateTIME p {
  text-align: right;
  margin-top: 5px;
  color: #c24206;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
